[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/basilioss/dwm
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/basilioss/dmenu
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/NvChad
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
